@model IEnumerable<ITSourceManagement.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .big {
            margin: 0px auto 0px auto;
            width: 940px;
            height: 516px;
            /* background-image: url('/images/tjsp_border.jpg'); /*推荐商品背景图片*/
            padding: 45px 20px 21px 20px; /*背景图片框有一定的厚度*/
        }


        .flower {
            width: 225px;
            height: 235px;
            float: left; /*图片并排*/
            padding: 12px;
            /*border:1px #CCCCCC solid;text-align:center;*/
            overflow: hidden;
        }


        .flower_desc {
            height: 25px;
            line-height: 30px;
            text-align: center;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div>
        <p>
            @using (Html.BeginForm("Index", "Shop", FormMethod.Get))
            {
                @*<div>
                        @Html.DropDownList("bbGenre","all")
                        <input type="submit" value="查询"/>
                    </div>*@
            }
        </p>

        <div>
            @foreach (var item in Model)
            {
                <div style="margin:20px;">
                    @item.Title.Trim() &nbsp;&nbsp;@item.Price 元
                </div>
                <div>
                    <img src="@item.Photo" width="170" height="160" />
                </div>

                <div>
                    @Html.ActionLink("加入购物车", "PutCar", new { id = item.Id })
                    @Html.ActionLink("详情", "Details", new { id = item.Id })
                </div>
            }
        </div>
    </div>
</body>
</html>
