@model ITSourceManagement.ViewModel.ResetPswViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
    @using (Html.BeginForm("ResetPsw", "Account", FormMethod.Post))
    {
        <h4>重置密码</h4>
        <div>
            @Html.LabelFor(m => m.UserName, new { @class = "col-md-4" })
            @Html.TextBoxFor(m => m.UserName, new { @class = "col-md-6" })
        </div>
        <div>
            @Html.LabelFor(m => m.PassWord, new { @class = "col-md-4" })
            @Html.TextBoxFor(m => m.PassWord, new { @class = "col-md-6" })
        </div>
        <div>
            @Html.LabelFor(m => m.NewPassWord, new { @class = "col-md-4" })
            @Html.TextBoxFor(m => m.NewPassWord, new { @class = "col-md-6" })
        </div>
    <button type="submit" class="btn btn-primary">重置密码</button>
    }
    </div>
</body>
</html>
